.propos-container {
    margin-top: 40px;
}
.accordion-propos {
    width: 1023px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;  
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 10px;
    border-radius: 4px;
    color: rgba(255,96,96,1);
    background-color: #f7f7f7; 
}
.accordion-visible {
    font-size: 24px; 
    height: 47px;
    width: 1013px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: rgba(255,96,96,1);
    border-radius: 5px;
    cursor: pointer;
    color: white;
    display: flex;
    justify-content : space-between;
    align-items: center;   
}
.propos-toggle  {
    opacity: 0;
    height: 0px;
    background: #f7f7f7;     
}
.propos-animated {
    display: inline-block;
    position: relative;
    padding: 5px;
    opacity: 1;
    min-height : 40px;
    font-size: 12px;
    pointer-events: none;
    line-height: 1.3;  
    transition: 
        height 0.2s ease-in-out, 
        opacity 0.2s 0.2s ease-in-out;      
}
.description {
    display: flex;
    justify-content: space-between ;
}
.accordion-toggle {
    display: flex;
}
.propos-toggle-text {
    opacity: 1;
    display: flex;
    flex-direction: column;
    padding-left: 5px;
    padding-right: 5px;
}

@media only screen and (max-width: 760px) {
    .accordion-visible {
        width: 325px;
        font-size: 13px;
        height: 30px;
    }
    .propos-container {
       width: 335px;
       margin-left: auto;
       margin-right: auto;
    }
    .propos-animated {
        width: 335px;
        max-height: 143px;
    }
    .accordion-propos {
        width: 335px;
    }
}

@media all and (min-width: 760px) and (max-width:1280px) {
    .propos-container, .accordion-propos {
        width: 750px;
    }
    .propos-container {
        margin-left: auto;
        margin-right: auto;
    }
    .accordion-visible {
        width: 740px;
        font-size: 16px;
    }
}