.banner-propos {
    display: flex;;
    justify-content: center;
    width: 1240px;
    height: 223px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    background-color: rgb(255, 255, 255,1); 
    object-fit: cover;
    background: url('../../../assets/propos-banner.png')  
}
.img-banner-propos {
    width: 1240px;
    height: 223px;
    border-radius: 25px;
    opacity: 0.3;
    background: rgb(0, 0, 0);
    mix-blend-mode: darken;   
}
.accordion-propos { 
    margin-left: auto;
    margin-right: auto;  
    font-size: 24px;
}
@media only screen and (max-width: 760px) {
    .banner-propos {
        width: 335px;
        height: 223px;
        object-fit: cover;
        background: url('../../../assets/propos-banner.png');
    }
    .img-banner-propos {
        width: 335px;
        height: 223px;
        opacity: 0.3;
        background: rgb(0, 0, 0);
        mix-blend-mode: darken;  
    }
    .accordion-propos {
        width: 335px;
    }
} 

