.lightbox {
  display: flex;
  justify-content: center;
  height: 415px;
  width: 1240px;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}
.lightbox-image {
  display: flex; 
  position: relative;
  left: 10px;
  height: 415px;
  min-width: 1240px;  
  border-radius: 25px;  
  margin: 0;
  padding: 0 
}
.prev, .next {
  height: 50px;
  display: flex;
  width: 40px;
  background: transparent;
  border: none;
  z-index: 2
}
.prev {
  position: relative;
  left: 70px;
  top: 182.5px
}
.next {
  position: relative;
  right: 50px;
  top: 182.5px
}
.prev:hover, .next:hover {
    cursor: pointer
}
.prev-svg, .next-svg {
  height: 46.8px;
  width: 79.2px; 
  background: transparent;
}
.hidden {
  display: none
}
.number-picture {
  display: flex;
  position: relative;
  top: 370px;
  right: 670px;
  text-align: center;
  height: 30px;
  width: 30px;
  margin: 0px;
  padding: 0px;
  color: rgb(254, 254, 254);
}

@media only screen and (max-width: 760px) {
  .lightbox {
    display: flex;
    justify-content: center;
    width: 335px;
    height: 255px;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .lightbox-image {
    position: initial;
    min-width: 335px;
    height: 255px;
    display: flex;
    margin: 0;
    padding: 0
  }
  .prev-svg, .next-svg {
    height: 19.8px;
    width: 11.67px; 
  }
  .number-picture {
    display: none;
  } 
  .prev, .next { 
    height: 30px;
    display: flex;
    width: 20px;
    border: none;
    background: transparent; 
  }
  .prev {
    position: relative;
    left: 20px;
    top: 117.5px
  }
  .next {
    position: relative;
    right: 20px;
    top: 117.5px
  }
}