.lightbox-container {
  width: 1240px;
  height: 380px;;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  margin-top: 0px;
}
.lightbox {
    display: flex;
    height: 415px;
    width: 1240px;  
    border-radius: 25px; 
    position: relative;
    bottom: 30px;
}
.prev {
  position: relative;
  top: 230px;
  background: transparent;
  border: none
}
.next {
  position: relative;
  bottom: 240px;
  left: 1153px;
  background: transparent;
  border: none
}
.prev:hover, .next:hover {
    cursor: pointer
}
.prev-svg, .next-svg {
  height: 46.8px;
  width: 79.2px; 
  background: transparent;
}
.hidden {
  display: none
}
.number-picture {
  height: 30px;
  position: relative;
  top: 30px;
  text-align: center;
  color: rgb(255, 255, 255);
}

@media only screen and (max-width: 760px) {
  .lightbox-container {
    display: flex;
    justify-content: center;
    width: 335px;
    height: 255px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
  }
  .fiche-container {
    width: 1240px;  
  }
  .description {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
  .lightbox {
    display: flex;
    justify-content: center;
    width: 335px;
    height: 255px;
  }
  .prev-svg, .next-svg {
    height: 19.8px;
    width: 11.67px; 
  }
  .number-picture {
    display: none;
  } 
  .prev {
   position: relative;
   height: 20px;
   top: 80px;
   left: 30px;
   background: transparent;
   z-index :45;
    
  }
  .next {
    position: absolute ;
    bottom:625px;
    height: 20px;
    left: 350px;
    background:transparent;
    z-index :45;
  }
}