.banner-home {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 1240px;
    height: 223px;
    vertical-align: middle;
    border-radius: 25px;
    max-width: 1600px;
    background:rgb(255, 255, 255);
    object-fit: cover;
    background-image: url('../../../assets/IMG.jpg');
}
.banner-text {
   display: none;
}
.home-text {
    display: flex;
    justify-content: center;
    width: 1240px;
    height: 223px;
    border-radius: 25px;
    opacity: 0.3;
    background: rgb(0, 0, 0);
    mix-blend-mode: darken;  
}
h1.title {
    color: white;
    height: 223px; 
    vertical-align: middle;
    position: absolute;
    margin-top: 90px;
    font-size: 48px;
}
.home-span {
    text-align: center;
    font-size: 1.5em;
    color: white;  
}
@media only screen and (max-width: 760px) {
    .banner-home {
        background-image: url('../../../assets/banner.jpg');
        width: 335px;
        height: 111px;
        position: relative;
        bottom: 20px;
        border-radius: 10px;
    }
    .home-text, .title {
       display: none;
    } 
    .banner-text {
        display: flex;
        justify-content: left;
        font-size: 24px;
        line-height: 24px;
        width: 217px;
        height: 68px;
        color: white; 
    }
}

@media all and (min-width: 760px) and (max-width:1280px) {
    .banner-home {
        width: 750px;
    }
}