.fiche-container {
    width: 1240px;
    margin-left: auto;
    margin-right: auto;
}
.fiche {
    display: flex;
    flex-direction: column;
    width: 1240px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
}
.fiche-accordion-title {
    display: flex;
    background-color: rgba(255,96,96,1);
    border-radius: 4px;
    height: 52px;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content : space-between;
    align-items: center;
    width: 572px;
    padding-left: 5px;
    padding-right: 5px;
}
.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.location-title {
    color: rgba(255, 96, 96, 1);
    font-size: 36px;
    margin-top: 20px;
    margin-bottom: 0px;
}
.location {
    color: rgba(255, 96, 96, 1);
    font-size : 18px;  
    margin-top: 10px;
}
.location-owner {
    display: flex;
    margin-top: 20px;
    justify-content: flex-end;
}
.owner-name {
    width: 71px;
    height: 52px;
    margin-right: 15px;
    font-size: 18px;
    text-align: right;
    position: relative;
    bottom: 5px;
    color: rgba(255, 96, 96, 1);
}
.owner-picture {
    width: 64px;
    height: 64px;
    border-radius: 100%;
}
.picture_and_stars {
    display: flex;
    flex-direction: column-reverse;
    justify-content: left;
    position: relative;
    bottom: 140px; 
    left: 1037px;
    width: 200px; 
}
.star {
    display: flex;
    justify-content: flex-end;
}
.positive-star, .negative-star {
    height: 30px;
    width: 30px;
}
.tag-container {
    display: flex;
}
.tag {
    width: 115px; 
    padding: 3px;
    margin-right: 10px;
    border-radius: 10px;
    font-size: 14px;
    text-align: center;
    color: white;
    background: rgba(255, 96, 96, 1);
}
.description {
    display: flex;
    position: relative;
    bottom: 140px;
    
}
.fiche-animated {
    display: flex;
    padding: 5px;
    opacity: 1;
    font-size: 12px;
    pointer-events: none;
    min-height: 249px;
    line-height: 1.3;  
    transition: 
        height 0.2s ease-in-out, 
        opacity 0.2s 0.2s ease-in-out;     
}
.fiche-toggle {
    opacity: 0;
    height: 0px;
    background: #f7f7f7;  
}
.accordion-fiche {
    width: 582px;
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    font-size: 18px;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 4px;
    color: rgba(255,96,96,1);
    background-color: #f7f7f7;
}
.equipment {
    list-style: none; 
}

@media only screen and (max-width: 760px) {
    .fiche-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 95%;
    }
        .fiche {
            width: 335px;
            display: flex;
            justify-content: left;
            margin-left: auto;
            margin-right: auto;          
    }
            .info {
                display: flex;              
            }  
                .location-title {
                    font-size: 18px;
                }
                .location {
                    font-size: 14px;
                }  
            .picture_and_stars {
                display: flex;
                width: 335px;
                position: inherit;
                bottom: 121px;
                height: 40px;
            }  

        .description {
            display: flex;
            flex-direction: column;
            width: 335px;  
            position: initial;
        }
            .accordion-description {
                display: flex;
                height: auto;
                width: 335px;
            }
                .accordion-fiche {
                width: 335px;
                margin-left: auto;
                 margin-right: auto;
                }
                    .fiche-accordion-title {
                        width: 325px;
                        height: 29.93px;
                        border-radius: 5px;
                        font-size: 13px;
                        padding-left: 5px;
                    }
                    .fiche-animated {
                        width: 335px;
                        min-height: 143px;
                    }
                        .accordion-toggle-text {       
                            opacity: 1;
                            display: flex;
                            flex-direction: column;
                            padding-left: 5px;
                            padding-right: 5px; 
                            height: 143px;
                        }            
    .tag {
        background: #ff6060;
        border-radius: 5px;
        color: #fff;
        font-size: 10px;
        font-weight: 500, medium;
        margin-right: 10px;
        padding: 3px;
        text-align: center;
        width: 84px;
        height: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .location-owner {
        display: flex;
        left: 100px;
        width: 327px;
        height: 9px;
        position: initial;
        margin: 6px
    }
    .owner-picture {
        height: 32px;
        width: 32px;
        margin-top: 7px;
    }
    .owner-name {
        font-size: 12px;
        width: 50px;
        
    }
    .star {
        height: 30px;
        width: 135px;
        display:flex;
        justify-content: flex-start;
           
        
    }
    .positive-star, .negative-star {
        height: 15px;
        width: 15px;
    }
    .accordion-toggle {
        height: 0px;
    } 
}

@media all and (min-width: 760px) and (max-width:1280px) {
    .lightbox, .lightbox-image,.fiche, .accordion-fiche {
        width : 750px;
        min-width: 750px;
    }
    .number-picture {
        position: relative;
        right: 340px;
    }
    .picture_and_stars {
        display: flex;
        flex-direction: column-reverse;
        justify-content: left;
        position: relative;
        bottom: 140px; 
        left: 547px;
        width: 200px; 
    }
    .description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 50px;
    }
    .accordion-description {
        width: 750px;
        display: flex;
        justify-content: center;
    }
    .location-title {
        font-size: 28px;
        width: 400px;
    }
    .star {
        position: relative;
        bottom: 17px;
    }
    .positive-star, .negative-star {
        width: 20px;
        height: 20px;
    }
    .accordion-fiche, .accordion-txt {
        font-size: 14px;
    }
    .fiche-animated {
        min-height: auto;
    }
    .fiche-accordion-title {
        width: 740px;
    }
}
