.lightbox-container {
    width: 1240px;
    height: 380px;;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    margin-top: 0px;
}

.fiche-container {
    width: 1240px;
    margin-left: auto;
    margin-right: auto;
}
.fiche {
    display: flex;
    justify-content: space-between;
}
.info {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.location-title {
    color: rgba(255, 96, 96, 1);
    font-size: 36px;
    margin-top: 20px;
    margin-bottom: 0px;
}
.location {
    color: rgba(255, 96, 96, 1);
    font-size : 18px;  
    margin-top: 10px;
}
.location-owner {
    display: flex;
    margin-top: 20px;
    justify-content: flex-end;
}
.owner-name {
    width: 93px;
    height: 52px;
    margin-right: 15px;
    font-size: 18px;
    text-align: right;
    position: relative;
    bottom: 5px;
    color: rgba(255, 96, 96, 1);
}
.owner-picture {
    width: 64px;
    height: 64px;
    border-radius: 100%;
}
.picture_and_stars {
    display: flex;
    flex-direction: column-reverse;
    justify-content: left;
    width: 200px; 
    margin-top: 20px;
   
}
.star {
    display: flex;
    justify-content: flex-end;
}
.positive-star, .negative-star {
    height: 30px;
    width: 30px;
}
.tag-container {
    margin-left: 0%;
    display: flex;
}
.tag {
    width: 115px; 
    padding: 3px;
    margin-right: 10px;
    border-radius: 10px;
    font-size: 14px;
    text-align: center;
    color: white;
    background: rgba(255, 96, 96, 1);
}
.description {
    display: flex;
    justify-content: space-between ;
}
.accordion-description {
    width: 582px;
    position: relative;
    padding: 0  
}   
.accordion-fiche {
    width: 582px;
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    font-size: 18px;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 4px;
    color: rgba(255,96,96,1);
    background-color: #f7f7f7;
}
.fiche-accordion-title {
    display: flex;
    background-color: rgba(255,96,96,1);
    border-radius: 4px;
    height: 52px;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content : space-between;
    align-items: center;
    width: 572px;
    padding-left: 5px;
    padding-right: 5px;
}
.accordion-toggle {
    display: flex;
}

.accordion-toggle-text {
    opacity: 1;
    display: flex;
    flex-direction: column;
    padding-left: 5px;
    padding-right: 5px;
    height: 249px;
}
.fiche-animated {
    display: flex;
    padding: 5px;
    opacity: 1;
    height: 249px;
    font-size: 12px;
    pointer-events: none;
    line-height: 1.3;  
    transition: 
        height 0.2s ease-in-out, 
        opacity 0.2s 0.2s ease-in-out;     
}
.fiche-toggle {
    opacity: 0;
    height: 0px;
    background: #f7f7f7;  
}
.equipment {
    list-style: none; 
}

@media only screen and (max-width: 760px) {
   
    .fiche-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 95%;
    }
    .location-title {
        font-size: 18px;
    }
    .info {
        display: flex;
    }  
    .picture_and_stars {
       display: flex;
       width: 90%;
       height: 50px;
       margin-left: 5%;
       position: relative;
       top: 30px;
    }
    .positive-star, .negative-star {
        height: 15px;
        width: 15px;
    } 

    .tag {
        background: #ff6060;
        border-radius: 10px;
        color: #fff;
        font-size: 14px;
        margin-right: 10px;
        padding: 3px;
        text-align: center;
        width: 115px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .tag-container {
        margin-left: 0
    }

    .location-owner {
        display: flex;
        justify-content: flex-end ;
        height: 50px;
    }
    .owner-picture {
        height: 32px;
        width: 32px;
        margin-top: 7px;
    }
    .owner-name {
        font-size: 12px;
        width: 50px;
        margin-bottom: 20px;
    }
    .star {
        display:flex;
        
        position: relative;
        bottom: 35px;
    }
    .description {
        display: flex;
        flex-direction: column;  
    }
    .accordion-description {
       display: flex;
       height: auto;
       width: 335px;
    }
    .accordion-toggle {
        height: 0px;
    }   
}